<%- include("./includes/head") %>
<section class="mx-auto">
  <h1 class="title">Create a new post here!</h1>
  <% if(errorMsg){ %>
  <p class="error-msg"><%= errorMsg %></p>
  <% } %>
  <form action="/admin" method="post" enctype="multipart/form-data">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        required
        value="<%= oldFormData.title %>"
      />
    </div>
    <div>
      <label for="photo">Enter Photo</label>
      <input type="file" id="photo" name="photo" required />
    </div>
    <div>
      <label for="description">Enter description</label>
      <textarea type="text" id="description" name="description" required>
<%= oldFormData.description %></textarea
      >
    </div>
    <button class="right">Create Post</button>
    <a href="/">Go back home</a>
  </form>
</section>
<%- include("./includes/foot") %>
