<%- include("./includes/head") %>
<section class="mx-auto">
  <h1 class="title">Edit your post</h1>
  <form action="/admin/post-edit" method="post">
    <input type="text" name="postId" value="<%= post.id %>" hidden />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= post.title %>"
        required
      />
    </div>
    <div>
      <label for="photo">Enter Photo</label>
      <input
        type="text"
        id="photo"
        name="photo"
        value="<%= post.imageUrl %>"
        required
      />
    </div>
    <div>
      <label for="description">Enter description</label>
      <textarea
        type="text"
        id="description"
        name="description"
        cols="30"
        rows="10"
      >
<%= post.description %>
    </textarea
      >
    </div>
    <button>Edit Post</button>
    <a class="right inline-block" href="/">Go back home</a>
  </form>
</section>
<%- include("./includes/foot") %>
