<%- include("./includes/head") %>
<section class="mx-auto">
  <h1 class="title">Edit your post here!</h1>
  <% if(errorMsg){ %>
  <p class="error-msg"><%= errorMsg %></p>
  <% } %>
  <form
    action="/admin/edit-post"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <input
      type="text"
      value="<%= isValidationFail? postId: post._id %>"
      name="postId"
      hidden
    />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= isValidationFail ? oldFormData.title : post.title %>"
        required
      />
    </div>
    <div>
      <label for="photo">Enter Photo</label>
      <input type="file" id="photo" name="photo" required />
    </div>
    <div>
      <label for="description">Enter description</label>
      <textarea type="text" id="description" name="description" required>
<%= isValidationFail ? oldFormData.description : post.description %></textarea
      >
    </div>
    <button>Edit Post</button>
    <a href="/">Go back home</a>
  </form>
</section>
<%- include("./includes/foot") %>
